.App {
  width: 740px;
  min-height: 100vh;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.App__button {
  min-width: 130px;
  height: 46px;
  border: 1px solid #1a1ac3;
  background-color: #1a1ac3;
  color: #fff;
  cursor: pointer;
}

.App__textfield {
  height: 46px;
  padding: 0 10px;
  position: relative;
  z-index: 2;
  border: 1px solid #ccc;
  color: #4a4a4a;
  font-size: 18px;
}
